.grid-holder{
  height: 648px;
  width: 808px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.grid-cell{
  height: 8px;
  width: 8px;
  background-color: green;
  border: 1px solid yellow;
  box-sizing: border-box;
}
