main {
  display: flex;
  align-items: stretch;
  margin: 3% 5% 1% 5%;
}

main section {
  display: flex;
  flex-direction: column;
}

.canvas{
  width: 50%;
}

#andala-canvas{
  border: 1px solid black;
  border-radius: 30px;
  margin: auto;
  display: block;
}

h1{
  font-size: 65px;
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  margin-bottom: -7px;
  margin-top: 10px;
}

h3{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Cormorant', serif;
}

/* right sidebar */

.right-side-bar-selection{
  width: 25%;
  align-items: center;
}

.right-side-bar-selection button{
  font-family: 'Cormorant', serif;
  height: 35px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid black;
}

#canvas-reset-button, #download {
  width: 50%;
}

#canvas-save-button {
  width: 100%;
}

/* left sidebar */

.left-side-bar-selection{
  font-family: 'Cormorant', serif;
  font-size: 18px;
  width: 25%;
}

.left-side-bar-selection div{
  justify-content: space-between;
}

.right-side-bar-selection, .left-side-bar-selection {
  padding: 0 3%;
}

.draw-instructions{
  margin-bottom: 45px;
  font-size: 19px;
}

.drawing-color{
  display: flex;
}

.drawing-color ul{
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.drawing-color li{
  box-sizing: border-box;
  margin: 2px;
  border: 1px solid gray;
}

.drawing-color li:hover{
  opacity: 0.75;
  cursor: pointer;
}

li.drawing-color-selected{
  border: 3px dashed #5882FA;
}

#red-brush{
  height: 20px;
  width: 20px;
  background-color: #FA5858;
  border-radius: 3px;
}

#orange-brush{
  height: 20px;
  width: 20px;
  background-color: #FACC2E;
  border-radius: 3px;
}

#yellow-brush{
  height: 20px;
  width: 20px;
  background-color: #F4FA58;
  border-radius: 3px;
}

#green-brush{
  height: 20px;
  width: 20px;
  background-color: #81F79F;
  border-radius: 3px;
}

#blue-brush{
  height: 20px;
  width: 20px;
  background-color: #81F7F3;
  border-radius: 3px;
}

#purple-brush{
  height: 20px;
  width: 20px;
  background-color: #DA81F5;
  border-radius: 3px;
}

#pink-brush{
  height: 20px;
  width: 20px;
  background-color: #F781F3;
  border-radius: 3px;
}

#black-brush{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 3px;
}

#white-brush{
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 3px;
}

#gray-brush{
  height: 20px;
  width: 20px;
  background-color: #A4A4A4;
  border-radius: 3px;
}

.canvas-background-color{
  display: flex;
  margin-top: 30px;
}

.canvas-background-color ul{
  display: flex;
  width: 120px;
}

.canvas-background-color li{
  box-sizing: border-box;
  margin: 2px;
  border: 1px solid gray;
}

.canvas-background-color li:hover{
  opacity: 0.75;
  cursor: pointer;
}

li.canvas-background-selected{
  border: 3px dashed #5882FA;
}

#white-background{
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 3px;
}

#black-background{
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 3px;
}

.brush-size{
  display: flex;
  margin-top: 30px;
}

.brush-size ul{
  width: 120px;
}

.brush-size li{
  margin-bottom: 4px;
}

.brush-size li:last-of-type{
  margin-bottom: 0;
}

.brush-size li:hover{
  opacity: 0.75;
  cursor: pointer;
}

.brush-size-selected{
  text-decoration: underline;
}

.canvas-symmetry{
  display: flex;
  margin-top: 30px;
}

.canvas-symmetry input{
  width: 20px;
}

.canvas-symmetry ul{
  width: 120px;
}

.canvas-symmetry li{
  margin-bottom: 4px;
}

.canvas-symmetry li:last-of-type{
  margin-bottom: 0;
}

.canvas-symmetry li:hover{
  opacity: 0.75;
  cursor: pointer;
}

.canvas-symmetry label{
  margin-left: 10px;
  font-size: 16px;
}

#radial-order{
  margin-bottom: 6px;
}

.symmetry-selected{
  text-decoration: underline;
}

/* contact-icons */

.link-list{
  text-align: center;
}

.link-list a{
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
  color: #adb5bd;
  padding: 10px;
}

#personal-site{
  font-size: 40px;
}

#author{
  text-align: center;
  margin: 10px;
  font-family: 'Cormorant', serif;
}

/* support mobile */

@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .canvas, .left-side-bar-selection, .right-side-bar-selection {
    width: 50%;
  } 
  
  .left-side-bar-selection, .right-side-bar-selection {
    margin: 40px 0;
  }
}